{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row text-center">


    <h1 class="display-2 mt-15 ml-2">Our Mission</h1>
  </div>

  <div class="row  mt-15">

    <div class="col-sm-4 text-center"><h1> Improve access to wellness</h1>
      <p>
        One of the main barriers to wellness services is accessibility.
        Issues such as distance, cost, and busy schedules makes finding time for personal wellness more difficult. We
        are improving access to wellness services by bringing wellness practitioners directly into spaces where they are
        needed most. This way, we can reduce cost and create more flexibility in the delivery of wellness programs. Our
        process allows us to connect organizations with trusted wellness practitioners at the lowest possible cost.
      </p>

    </div>
    <div class="col-sm-4 text-center"><h1> Create more opportunities </h1>
      <p> We are curating a network of professional practitioners to provide increased opportunities to share their
        services while respecting the uniqueness of their service offerings. Blossome understands these needs and
        provides support in key areas such as marketing, branding and personal business development for wellness
        entrepreneurs. The result is a beautiful synergy between wellness practitioners and clients to allow the
        delivery of life changing services. </p>
    </div>

    <div class="col-sm-4 text-center"><h1>Healthier communities</h1>
      <p>Blossome exists to improve quality of life in our community. We spend so much time in our workplaces that it
        makes sense to optimise our workplace for wellness. The basic buiding block of a healthy community is a healthy
        person and we apply this philosphy in everything that we do. We believe that a healthy, empowered & connected
        individual can be the driving force behind huge change in the world. It starts with small changes in posture,
        attention and focus and results in far- reaching impacts in our relationship with the world around us. Being
        more comfortable in our skin, by connecting with the world around us. With the proper support, we believe
        everyone can Blossome. </p></div>
  </div>

  <div class="row"></div>

  <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Questions?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="form34" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form34">Your name</label>
          </div>

          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="form29" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form29">Your email</label>
          </div>

          <div class="md-form mb-5">
            <i class="fas fa-tag prefix grey-text"></i>
            <input type="text" id="form32" class="form-control validate">
            <label data-error="wrong" data-success="right" for="form32">Subject</label>
          </div>

          <div class="md-form">
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
            <label data-error="wrong" data-success="right" for="form8">Your message</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{##}
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
{#        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"#}
{#        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"#}
{#        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"#}
{#        crossorigin="anonymous"></script>#}

{% endblock content %}
