{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row text-center">


    <h1 class="display-2 mt-15 ml-2">Our Mission</h1>
  </div>

  <div class="row  mt-10">

    <div class="col-sm-4 text-center"><h1> Improve access to wellness</h1>
      <p>
        One of the main barriers to wellness services is accessibility.
        Issues such as distance, cost, and busy schedules makes finding time for personal wellness more difficult. We
        are improving access to wellness services by bringing wellness practitioners directly into spaces where they are
        needed most. This results in reduce costs and increased flexibility in the delivery of wellness programs.<br> Our
        process allows us to connect organizations with trusted wellness practitioners at the lowest possible cost.
      </p>

    </div>
    <div class="col-sm-4 text-center"><h1> Create more opportunities </h1>
      <p> We curate a network of professional practitioners to provide increased opportunities to share their
        services . Blossome respects the uniqueness of service offerings and understands the need for support in marketing, branding and business development for wellness
        entrepreneurs.<br> <p></p> The result is a beautiful synergy between wellness practitioners and clients which allows the
        delivery of affordable and life changing services. </p>
    </div>

    <div class="col-sm-4 text-center"><h1>Healthier communities</h1>
      <p> We spend so much time in our workplaces that it
        makes sense to optimise our workplace for wellness. The basic building block of a healthy community is a healthy
        person an we apply this philosophy in everything that we do. <br> An empowered & connected
        individual can be the driving force behind huge change in the world. It starts with small changes in posture,
        attention and focus and results in far-reaching impacts in our relationship with the world around us. <br> With the proper support, we believe
        everyone can Blossome. </p></div>
  </div>
        <div class=" container text-center mb-5">
        <a href="{% url 'organizations' %}" class="btn btn-lg btn-outline-secondary main-btn mt-5" role="button">
          <h5 class="mb-0 m-1">Book Now</h5>
        </a>
      </div>
</div>
{% endblock content %}
