{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-center mt-10">
    <h2> How to Play</h2>
</div>
<div class="container">
    <div class="row">
        <h3>Build a Profile & Join a Team</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aperiam asperiores aspernatur aut
            consequatur doloremque eos est fugiat, impedit ipsum iste laborum laudantium magni modi odio porro possimus
            rem repudiandae saepe? Autem, dolorum enim error harum incidunt minima nesciunt, non nostrum numquam
            provident quia quisquam saepe similique suscipit ut.</p>
    </div>
    <div class="row">
        <h3>Attend Classes and Events</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae doloremque ea eligendi fuga iusto.
            Aliquid architecto deserunt distinctio dolor dolorum error eveniet facere magnam sequi, ullam. Ab adipisci
            aperiam architecto atque blanditiis commodi earum esse, est illo, inventore laborum placeat quae qui
            recusandae repellat similique soluta tempora vel voluptate.</p>
    </div>
    <div class="row">
        <h3>Win Prizes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae doloremque ea eligendi fuga iusto.
            Aliquid architecto deserunt distinctio dolor dolorum error eveniet facere magnam sequi, ullam. Ab adipisci
            aperiam architecto atque blanditiis commodi earum esse, est illo, inventore laborum placeat quae qui
            recusandae repellat similique soluta tempora vel voluptate.</p>

    </div>
</div>
<div class="container mt-5 text-center">
    <div class="row">
        <h3> Beta Test</h3>
    </div>
    <div class="row">
        <h3>Beta Test</h3>
        <p>Beta Test Info</p>
    </div>
</div>


{% endblock content %}
