{% extends 'base.html' %}

{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Submit" />#}
{#</form>#}

{% block content %}
  <div class="container" style="margin-top: 5em">
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="modal-body mx-3">
        <h2 class="mb-3">Signup your organization</h2>
        <div class="md-form mb-3">
          <i class="fas fa-user prefix grey-text"></i>
          {{ form.name.errors }}
          <label data-error="wrong" data-success="right">Full name: </label>
          {{ form.name }}
        </div>
        <div class="md-form mb-3">
          <i class="fas fa-user prefix grey-text"></i>
          {{ form.organization_name.errors }}
          <label data-error="wrong" data-success="right">Organization name: </label>
          {{ form.organization_name }}
        </div>
        <div class="md-form mb-3">
          <i class="fas fa-envelope prefix grey-text"></i>
          {{ form.contact_email.errors }}
          <label data-error="wrong" data-success="right">Contact email: </label>
          {{ form.contact_email }}
        </div>
        <div class="md-form mb-3">
          <i class="fas fa-user prefix grey-text"></i>
          {{ form.city.errors }}
          <label data-error="wrong" data-success="right">City: </label>
          {{ form.city }}
        </div>

        <h5> Please select which services you are interested in:</h5>
        <div class="row pb-5">
          <div class="col-sm-4">
            <div class="fieldWrapper">
              {{ form.posture_and_ergonomics.errors }}
              <label for="id_sender">Posture and ergonomics:</label>
              {{ form.posture_and_ergonomics }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="fieldWrapper">
              {{ form.stress_reduction.errors }}
              <label for="id_sender">Posture and ergonomics:</label>
              {{ form.stress_reduction }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="fieldWrapper">
              {{ form.attention_and_focus.errors }}
              <label for="id_sender">Posture and ergonomics:</label>
              {{ form.attention_and_focus }}
            </div>
          </div>
        </div>
        <div class="md-form mb-3">
          {{ form.message.errors }}
          <label data-error="wrong" data-success="right"></label>
          {{ form.message }}
        </div>
      </div>
      <input type="submit" value="Submit" class="mb-10 main-btn col-sm-4 btn"/>
    </form>
  </div>
{% endblock content %}
