{% extends 'base.html' %}
{% load static %}

{#{% block css %}#}
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"#}
{#        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
{#  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"#}
{#        rel="stylesheet">#}
{#  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"#}
{#        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">#}
  {#<link rel="stylesheet" href="css/styles.css">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">#}
{#  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>#}
{#{% endblock css %}#}


{% block content %}
  <!-- Start Header -->
  <div class="container header mt-10">
    <h1 class="text-center display-2 mb-5"> Let your workspace Blossome.</h1>
    <div class="row  justify-content-center text-center mb-5">
      <div class="row p-4"><h5> Blossome connects workspaces with inspiring local providers of wellness services. </h5>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <!-- Start Organization Info and Signup-->
  <div class="container">
  <div class="row  justify-content-around mt-3">
    <div class="col-sm-4" align="center">
      <i class="far fa-calendar-check fa-3x" data-aos-delay="" data-aos-anchor-placement="top-bottom"
         data-aos-duration="1000" data-aos="fade-up"></i>
      <p class="lead" data-aos-delay="" data-aos-anchor-placement="top-bottom" data-aos-duration="1000"
         data-aos="fade-up">
        Sign up and view available programs</p>
      <p class=" align-baseline" data-aos-delay="500" data-aos-anchor-placement="top-bottom" data-aos-duration=""
         data-aos="zoom-in">We make planning wellness in your organization easy. Blossome streamlines booking and
        scheduling of corporate wellness so you can focus on what's important- creating change in your community. </p>
    </div>


    <div class="col-sm-4" align="center">
      <i class="far fa-building fa-3x" data-aos-delay="" data-aos-anchor-placement="top-bottom" data-aos-duration="1000"
         data-aos="fade-up"></i>
      <p class="lead" data-aos-delay="" data-aos-anchor-placement="top-bottom" data-aos-duration="1000"
         data-aos="fade-up"> Save money and time</p>
      <p data-aos-delay="500" data-aos-anchor-placement="top-bottom" data-aos-duration="" data-aos="zoom-in"> Connect
        with a network of trusted practitioners to provide wellness services directly to you. We equip your space with
        all the necessary supplies to run effective corporate wellness- a one stop shop for everything you will need for
        your next wellness program. </p>
    </div>
    <!-- Button trigger modal -->
    <a class="btn btn-outline-secondary main-btn mt-5 mb-5" href="{% url 'org-signup' %}">
      <h5 class="mb-0">Sign Me Up!</h5>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="organizationModal" tabindex="-1" role="dialog" aria-labelledby="practitionerModal"
         aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title lead text-center mb-3 mt-2" id="pracitionerModalTitle">Sign up to get in touch</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body text-center">

            <form class="practitionerForm container">

              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="password" class="form-control" id="inputPractitionerName"
                         placeholder="First and Last Name">
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" id="inputPractitionerEmail" placeholder="Email">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="practitionerAddress" placeholder="1234 Main St" alt="Address">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md">
                  <input type="text" class="form-control" id="inputCity" placeholder="City">

                </div>

                <!-- Service Types -->

                <div class="form-group col-md">
                  <select multiple class="form-control mb-3" size="15" id="practitionerServiceType">
                    <optgroup label="Select Desired Services:">
                      <option></option>
                    <optgroup label="Posture & Ergonomics">
                      <option>Yoga</option>
                      <option>Zumba</option>
                      <option>Ergonomics</option>
                    </optgroup>
                    <optgroup label="Stress Reduction">
                      <option>Massage (RMT)</option>
                      <option>Reiki</option>
                      <option>Reflexology</option>
                    </optgroup>
                    <optgroup label="Attention and Focus">
                      <option>Meditation</option>
                      <option>Mindfulness</option>
                      <option>Biofeedback</option>
                      <option>Nutrition/ Health Coaching</option>
                    </optgroup>
                  </select>
                </div>

            </form>
          </div>

          <div class="container">
            <div class="row justify-content-end">
              <div class="col-4">
                <button type="submit" class="btn main-btn mb-5 pt-3 pb-2"><h5>Submit</h5> </button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- End Practitioner Info and Signup -->

  <!-- Start Our Process -->
  <div class="container ourProcess">

    <h1 class="font-weight-light text-center mb-2 mt-3" data-aos="fade-right"
       data-aos-anchor-placement="center-bottom" data-aos-duration="1000"> Key Features</h1>
     <div class="text-center" data-aos="zoom-in" data-aos-delay="500"
             data-aos-anchor-placement="center-bottom" data-aos-duration="500" id=startButtons>
      <i class="fas fa-angle-down fa-3x mb-3"></i>
     </div>
    <div class="row mb-5" align="center">
      <div class="col-md-4" data-aos-delay="" data-aos-anchor-placement="top-bottom"
             data-aos-duration="2000" data-aos="fade-up">
        <i class="material-icons md-72 mt-1">how_to_reg</i>
        <p class="lead mt-1"> Sign up</p>
        <p class="text-center">
          Please use the sign up form about to receive early access to our platform.
        </p>
      </div>
      <div class="col-md-4 mb-3" data-aos-delay="250" data-aos-anchor-placement="top-bottom"
             data-aos-duration="2000" data-aos="fade-up">

        <i class="material-icons md-72 mt-1 mb-3">record_voice_over</i>
        <p class="lead"> Enter your desired services</p>
        <p>A core element of our system is that every program is unique- there's no set script here. Our platform
          encourages the flexibility to try a variety of services to find what works for you!</p>

      </div>
      <div class=col-md-4 data-aos-delay="500" data-aos-anchor-placement="top-bottom"
             data-aos-duration="2000" data-aos="fade-up">
        <i class="fas fa-hand-holding-usd fa-4x mt-2 mb-3"></i>
        <p class="lead"> Easy Reschedule</p>
        Our focus is in providing on-demand services directly in organizations of various sizes including co-working
        spaces and shared offices. You will be connected with a team of practitioners that provide different
        services over the course of the program. Find a service you like? Blossome allows you to easily re-book or adjust your programs as needed.
      </div>
    </div>
  </div>
  </div>
  </div>

  <script>
    AOS.init();
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
{% endblock content %}
